body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.btn-danger{margin-top: 20px !important;}

a.cat-inac {
    width: auto !important;
}
